.mainTable{
	border: 3px inset;
	background-color: #111122;
	padding: 1px;
	margin: auto;

}
.mainTable thead{
	font-weight: bold;
}
.mainTable tbody{
	text-align: center;
}
.name{
	background-color: #009900;
}
.prenume{
	background-color: #990000;
}
.varsta{
	background-color: #000099;
}
.departament{
	background-color: #660066;
}
.angajare{
	background-color: #007700;
}
.post{
	background-color: #AAAAAA;
}
.formular{
	display: none;
}