.mainTable{
	border: 3px inset;
	background-color: #111122;
	padding: 1px;
	margin: auto;

}
.mainTable thead{
	font-weight: bold;
}
.mainTable tbody{
	text-align: center;
}
.name{
	background-color: #009900;
}
#name{
	background-color: #009900;
}
#name:hover{
	background-color: #00AA00;
}
.prenume{
	background-color: #990000;
}
#prenume{
	background-color: #990000;
}
#prenume:hover{
	background-color: #BB0000;
}
.varsta{
	background-color: #000099;
}
#varsta{
	background-color: #000099;
}
#varsta:hover{
	background-color: #0000BB;
}
.departament{
	background-color: #660066;
}
#departament{
	background-color: #660066;
}
#departament:hover{
	background-color: #880088;
}
.angajare{
	background-color: #007700;
}
#angajare{
	background-color: #007700;
}
#angajare:hover{
	background-color: #009900;
}
.post{
	background-color: #AAAAAA;
}
#post{
	background-color: #AAAAAA;
}
#post:hover{
	background-color: #CCCCCC;
}
#adaugare{
	float:right;
	margin-right: 380px;
}

.formular{
	display: none;
	text-align: center;
	margin-right: 500px;
	margin-left: 500px;
}